body
{
    background: linear-gradient(45deg,#2794ed,#983afb);
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
}

.container
{
    
    height: 800px;
    width: 800px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.titre
{
    width: 800px;
    height: 80px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listeTitre
{
    width: 20%;
    height: 420px;
    align-items: left;
    padding-top: 80px;
    padding-left: 100px;   
}

.espace
{
    width: 15%;
    height: 720px;
}

.espaceLigne

{
    widows: 100%;
    height: 40px;
}

.espaceLigne2

{
    widows: 100%;
    height: 20px;
}

#espaceHaut


{
    widows: 100%;
    height: 70px;
}

.champ
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#champ1
{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;   
}



#champ2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#champ3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;      
}

#champ4
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#champ5
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.input
{
    display: flex;   
}
.formulaire
{
    display: flex;
}

.blocNom
{
    display: flex;
    flex-direction: column;
    color: rgb(168, 168, 168)
}


.textPhone
{
 display: flex;
 justify-content: space-between;
 padding-right: 252px;
 padding-left: 2px;
 padding-top: 7px;
 color: rgb(168, 168, 168)
}

.interieurInputBig
{
    background-color: #e5e5e5;
    border-radius: 5px;
    border-style: hidden;
    width: 497px;
    height: 50px;
      
}

.inputPhone
{
    background-color: #e5e5e5;
    border-radius: 5px;
    border-style: hidden; 
}

#indicatif
{
    width: 100px;
    height: 50px;
    margin-right: 25px;
}

#Phone

{
    width: 370px;
    height: 50px;   
}

h1
{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 18px;
    font-family: "CoreSansNSCW01-65Bold";
}

           
.interieurInputNom
{
    background-color: #e5e5e5;
    border-radius: 5px;
    border-style: hidden;
    width: 234px;
    height: 50px;
}

#nom 

{
    margin-right: 28px;
}
button
{
    border-style: hidden;
    background-color:#ff4b5a;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    
}


.sujet
{
    background-color: #e5e5e5;
    border-radius: 5px;
    border-style: hidden;
    width: 497px;
    height: 50px;   
}


.buttonText
{
    color: white;
}

#radio
{    
 flex-direction: row !important;
}


