.rouge
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: red;
    border: solid red;
}
.vert
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: green;
    border: solid green;
}

.LED
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: white;
    border: solid black;
}