.ball

{
    border-radius: 80px;
    background-color: black;
    border: solid black 5px;
    height: 150px;
    width: 150px;
}

.kick

{
    border-radius: 20px;
    background-color: red;
    border: solid red 5px;
    height: 100px;
    width: 100px;
}

